@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
  color: rgb(13, 19, 33);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.primary-btn {
  box-sizing: border-box;
  width: 240px;
  height: 40px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}

.btn-secondary {
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background: rgb(13, 19, 33);
}

.btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  width: 120px;
  height: 30px;
  color: rgb(13, 19, 33);
}

.section-title {
  font-size: 25px;
  font-weight: 800;
  line-height: 37px;
}
.section-dis {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

/* Header styles are here */

.header {
  margin-bottom: 90px;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0;
}
.nav-title {
  color: rgb(13, 19, 33);
  font-size: 25px;
  font-weight: 800;
  line-height: 33px;
}

.banner-container {
  background-image: url("../assest/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border: 2px dotted rgb(107, 107, 107);
  max-width: 100%;
  padding: 30px 100px;
}

.banner-info-container {
  max-width: 950px;
  margin: 0 auto;
}

.banner-title {
  color: rgb(13, 19, 33);
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
}
.banner-dis {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 30px 0;
}
/* Web Dev container styles */
.web-dev-container {
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.02);
}

.web-container {
  max-width: 940px;
  min-height: 600px;
  margin: 0 auto 90px;
  padding: 70px 80px;
}

.section-info {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 45px;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  gap: 48px;
  padding: 30px;
  margin-bottom: 20px;
}

.skill .skill-img img {
  width: 100%;
}

.skill-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.skill-dis {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 10px 0;
}

/* Video container styles */
.inspire-container {
  margin-bottom: 90px;
}

.video-container {
  /* text-align: center; */
  max-width: 992px;
  margin: 0 auto;
  height: 550px;
  padding: 30px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

/* My Target section styles */
.target-container {
  margin-bottom: 90px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  max-width: 320px;
  margin: 0 auto;
  height: 260px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
  display: flex;
  line-height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.card-dis {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

/* Responsive layout */
@media screen and (max-width: 576px) {
  .banner-container,
  .nav-container,
  .web-container {
    padding: 10px;
  }

  .video-container {
    padding: 10px;
    height: auto;
  }

  .skill {
    padding: 10px;
    flex-direction: column-reverse;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    padding: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .banner-container,
  .nav-container,
  .web-container {
    padding: 10px;
  }

  .video-container {
    padding: 10px;
    height: 400px;
  }

  .skill {
    padding: 10px;
    gap: 10px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    padding: 10px;
  }
}
